@import 'vars.less';

html.ui-layout {
    height: 100%;

    & > body {
        height: 100%;
        margin: 0;
        min-height: 100%;
        overflow-y: scroll;
        padding: 0;
        position: relative;
    }

}

.ui-layout {

    &__content {
        margin: 0 auto;
        max-width: @content-max-width;
        position: relative;
    }

    &__header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    &__main {
        min-height: 100%;
        overflow: auto;
        padding-bottom: @footer-size;
        padding-top: @header-size;
        position: relative;
        z-index: 50;
    }

    &__footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 90;
    }

    //&__sidebar {
    //    display: block;
    //    min-height: 100%;
    //    overflow: hidden;
    //    position: fixed;
    //    width: @sidebar-size;
    //    z-index: 100;
    //}

    //&--business {

    //    .ui-layout {

    //        &__header {
    //            margin-left: @sidebar-size;
    //        }

    //        &__main {
    //            margin-left: @sidebar-size;
    //        }

    //        &__footer {
    //            margin-left: @sidebar-size;
    //        }

    //    }

    //}

}
