---
layout: default
title: CANENA
---

            <div id="home">
                <h2>Articles</h2>
                <ul class="posts">
                    {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
                        {% if post.category %} 
                        in <a class="category {{ post.category }}" href="{{ root_url }}/{{ post.category }}">{{ post.category }}</a>
                        {% endif %}
                        {% if post.tags.first %} 
                            &raquo;
                            {% for tag in post.tags %}
                                <a class="tag {{ tag }}" href="{{ root_url }}/tags#{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
