
.ui-theme--orange .ui-button {
    background: #f60;
    border-bottom: #f30 4px solid;
    /*border-bottom-right-radius: 4px;*/
    padding: 2px 12px 0 12px;
}

.ui-theme--orange .ui-button:not(.ui-button--disabled):hover {
    background: #f90;
    border-color: #f60;
}

.ui-theme--orange .ui-button__label {
    color: #fff;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.ui-theme--orange .ui-button:active,
.ui-theme--orange .ui-button:focus {
    box-shadow: #888 0 0 3px;
}

.ui-theme--orange .ui-region-main {
    background: #eee;
    padding-bottom: 30px;
    padding-top: 30px;
}
