
.ui-theme--orange .ui-layout__header {
    border-top: #f60 4px solid;
}
.ui-theme--orange .ui-layout__header .ui-layout__content {
    background: linear-gradient(rgba(255, 255, 255, 1.0),rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0));
    line-height: 46px;
}

.ui-theme--orange .ui-button {
    background: linear-gradient(#f60, #f50); /* #f60;*/
    border-bottom: #f30 4px solid;
    /*border-bottom-right-radius: 4px;*/
    line-height: 30px;
    padding: 3px 14px 2px 14px;
}

.ui-theme--orange .ui-button:not(.ui-button--disabled):hover {
    background: #f90;
    border-color: #f60;
}

.ui-theme--orange .ui-button__label {
    color: #fff;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.ui-theme--orange .ui-button:active,
.ui-theme--orange .ui-button:focus {
    box-shadow: #888 0 0 3px;
}

.ui-theme--orange .ui-form__text,
.ui-theme--orange .ui-form__textarea {
    padding: 10px;
}