<div class="floaty-nav-body">
    <ul class="max-inline-size:none | flex flex-row bg-grainy font-bold text-center">
        <li class="grow basis-0">
            <ca-logo-switcher class="flex h-full w-full items-center justify-center">
                <a class="block flex items-center justify-center" href="/" title="Return back to home page">
                    <span default-label class="block">Home</span>
                    <span fancy-label class="block overflow-visible mt-0.3rem hidden">
                        <img src="/cdn/canena.svg" class="invert" height="34" alt="Return to home page">
                    </span>
                </a>
            </ca-logo-switcher>
        </li>
        <li class="grow basis-0"><a class="block p-1" href="/#blog">Blog</a></li>
        <li class="grow basis-0"><a class="block p-1" href="/portfolio">Portfolio</a></li>
        <li class="grow basis-0 flex items-center justify-center">
            <ca-fx-toggle>
                <span class="switch">
                    <input id="fx-toggle" type="checkbox">
                    <label for="fx-toggle">FX</label>
                </span>
            </ca-fx-toggle>
        </li>
    </ul>
</div>
