{% if include.entity %}
    {% assign entity = include.entity %}
{% else %}
    {% assign entity = page %}
{% endif %}

<div class="meta">
    <ul class="tags">
        <li><span>{{ entity.date | date_to_string }}</span></li>
        <li>in</li>
        <li><a class="category" href="/{{ entity.category }}">{{ entity.category }}</a></li>
    {% if entity.tags.first %}
    &raquo;
    {% for tag in entity.tags %}
        <li><a class="tag" href="{{ root_url }}/tags#{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
</div>
