<ul class="flex flex-wrap gap-2">
    <li><a ca-searchable class="tag" href="/tags#art">art</a></li>
    <li><a ca-searchable class="tag" href="/tags#bem">bem</a></li>
    <li><a ca-searchable class="tag" href="/tags#cicd">cicd</a></li>
    <li><a ca-searchable class="tag" href="/tags#code-crypt">code-crypt</a></li>
    <li><a ca-searchable class="tag" href="/tags#docker">docker</a></li>
    <li><a ca-searchable class="tag" href="/tags#elm">elm</a></li>
    <li><a ca-searchable class="tag" href="/tags#gaming">gaming</a></li>
    <li><a ca-searchable class="tag" href="/tags#gifts">gifts</a></li>
    <li><a ca-searchable class="tag" href="/tags#html">html</a></li>
    <li><a ca-searchable class="tag" href="/tags#javascript">javascript</a></li>
    <li><a ca-searchable class="tag" href="/tags#learning">learning</a></li>
    <li><a ca-searchable class="tag" href="/tags#legacy-code">legacy-code</a></li>
    <li><a ca-searchable class="tag" href="/tags#life">life</a></li>
    <li><a ca-searchable class="tag" href="/tags#making-of">making-of</a></li>
    <li><a ca-searchable class="tag" href="/tags#music">music</a></li>
    <li><a ca-searchable class="tag" href="/tags#self-improvement">self-improvement</a></li>
    <li><a ca-searchable class="tag" href="/tags#tech">tech</a></li>
    <li><a ca-searchable class="tag" href="/tags#web">web</a></li>
    <li><a ca-searchable class="tag" href="/tags#writing">writing</a></li>
</ul>
