<div back-to-top class="m-1 flex justify-between">
    <a class="btn --link" href="#">&uarr; top</a>
    <a class="btn --link" href="#">top &uarr;</a>
</div>
<ca-reading-progress progress-indicator>
    <template>
        <div data-track class="bg-lightgray">
            <div data-bar class="min-h-[0.22em] bg-primary"></div>
        </div>
    </template>
</ca-reading-progress>
