
<ul class="list-disc list-inside">
    <li>
        Providing <a href="/deps/hubjs/hub.dev.js" target="_blank" rel="noopener noreferrer">a mechanism for loosely-coupled sandboxes</a>
    </li>
    <li>
        Defining <a href="/cdn/site.js" target="_blank" rel="noopener noreferrer">composition root for the site</a> including a thin wrapper around the <code>customElements</code> API, basic facilities to employ inversion of control and utilities like HTML sanitization and function throttling
    </li>
    <li>
        Providing <a href="/cdn/ca/billboard-dancer.js" target="_blank" rel="noopener noreferrer">an animated presention</a> of the <a href="/portfolio">Portfolio section</a>
    </li>
    <li>
        Showing off <a href="/cdn/ca/demo-water.js" target="_blank" rel="noopener noreferrer">a demo</a> of <a href="/posts/2019-06-08-tales-from-the-code-crypt-book1-water">an algorithm to imitate water efficiently</a>
    </li>
    <li>
        Providing <a href="/cdn/ca/fx-toggle.js" target="_blank" rel="noopener noreferrer">a toggle for potentially heavy effects</a> on this site
    </li>
    <li>
        Re-purposing <a href="/cdn/ca/gh-comments.js" target="_blank" rel="noopener noreferrer">GitHub issues as comment sections</a> for selected articles
    </li>
    <li>
        Listening for <a href="/cdn/ca/hotkey-behavior.js" target="_blank" rel="noopener noreferrer">hotkeys</a> to use in <a href="/cdn/ca/page-search.js" target="_blank" rel="noopener noreferrer">the page search</a> in the <a href="/tags">Topics section</a>
    </li>
    <li>
        Presenting you with <a href="/cdn/ca/intro.js" target="_blank" rel="noopener noreferrer">a fancy intro</a> to the site
    </li>
    <li>
        Making sure <a href="/cdn/ca/logo-switcher.js" target="_blank" rel="noopener noreferrer">the site's logo is in view at most once</a>
    </li>
    <li>
        Enabling easy discovery via <a href="/cdn/ca/page-search.js" target="_blank" rel="noopener noreferrer">page search</a> (using <a href="/cdn/ca/hotkey-behavior.js" target="_blank" rel="noopener noreferrer">hotkeys</a>) in the <a href="/tags">Topics section</a>
    </li>
    <li>
        Gathering <a href="/cdn/ca/reading-meta.js" target="_blank" rel="noopener noreferrer">meta data like i.e. word-count</a> for selected articles like <a href="/posts/2020-09-18-the-last-of-us-part-ii">this one about the game "The Last of Us Part II"</a>
    </li>
    <li>
        Indicating <a href="/cdn/ca/reading-progress.js" target="_blank" rel="noopener noreferrer">reading progress</a> (using <a href="/cdn/ca/scroll-behavior.js" target="_blank" rel="noopener noreferrer">scroll position</a>) for selected articles like <a href="/posts/2019-03-04-typescript-vs-the-real-world">this one about TypeScript</a>
    </li>
    <li>
        Enabling <a href="/cdn/ca/requires.js" target="_blank" rel="noopener noreferrer">easy script loading</a> for active content features of this site
    </li>
    <li>
        Listening for <a href="/cdn/ca/scroll-behavior.js" target="_blank" rel="noopener noreferrer">scroll position data</a> to use in <a href="/cdn/ca/reading-progress.js" target="_blank" rel="noopener noreferrer">displaying reading progress</a> for selected articles like <a href="/posts/2018-09-25-elm-0-19-tldr">this one about the 0.19 release of the Elm programming language</a>
    </li>
</ul>
