
.ui-form {

}

.ui-form__group {
    display: block;
    position: relative;
}

.ui-form__group .ui-button {
    vertical-align: top;
}

.ui-form__group-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.ui-form__text {
    display: inline-block;
    /*width: 100%;*/
}

.ui-form__textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

.ui-form__checkbox {
    margin-top: 1px;
    position: absolute;
    width: 20px;
}
.ui-form__checkbox + .ui-form__group-label {
    display: inline-block;
    font-weight: normal;
    margin-left: 24px;
    vertical-align: top; 
}
.ui-form__checkbox--disabled {
    cursor: not-allowed;
} 
.ui-form__checkbox--disabled + .ui-form__group-label {
    cursor: not-allowed;
}

.ui-form__radio {
    margin-top: 1px;
    position: absolute;
    width: 20px;
}
.ui-form__radio + .ui-form__group-label {
    display: inline-block;
    font-weight: normal;
    margin-left: 24px;
    vertical-align: top;
}
.ui-form__radio--disabled {
    cursor: not-allowed;
}
.ui-form__radio--disabled + .ui-form__group-label {
    cursor: not-allowed;
}